/* TAGS */
/* Page links */
:root {
    --thumbnail-size: 5rem;
}

a{
    color: #ffaf66;
    text-decoration: none;
}

a:hover{
    color: #ffcb66;
}

/* Design */
body{
    background-color:#fbefd8;
    /* i would like the type to be lato */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #252525;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 1em;
    margin-bottom: 1em;
    color: #ffcb66;
}

header{
    text-align: center;
    margin-top: 1em;
    color:#ffaf66;
    font-weight: 5em;
    font-size: 1.75em;
    margin-bottom: 1em;
}

ul{
    list-style: none;
    align-items: center;
}

a img{
    height: 5rem;
}

/* Footer */
footer{
    text-align: right;
    background-color: #252525;
    color:#ffaf66;
    font-size: .9em;
    margin-top: 4em;
    padding: 1.11em 0;
}


/* CLASSES */
/* Search */
.search{
    background-color: #ffaf66;
    color: #252525;
    border-radius: .25em;
    padding: .5em .75em;
}

.search:hover{
    background-color: #ffcb66;
    color: #393939;
}

/* Sign in */
.sign-in{
    background-color: #ffaf66;
    color: #252525;
    border-radius: .25em;
    padding: .5em .75em;
}

.sign-in:hover{
    background-color: #ffcb66;
    color: #393939;
}

/* Navbar Class*/
.navbar-brand{
    background-color: #ffaf66;
    color: #252525;
    padding: .5em .75em;
    border-radius: .25em;
    font-weight: bold;
}
.navbar-brand:hover{
    background-color: #ffcb66;
    color: #393939;
}

.navbar{
    background-color: #252525;
    border-bottom: 1px solid #252525;
    padding: .5em;
}

.navbar-nav{
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-nav li{
    padding: .5em;
    margin: 0 .5em;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Blog Class*/

.blog-post header h5{
    text-transform: uppercase;
}

.blog-post header h1{
    text-transform: capitalize;
}

.blog-post .image{
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Button Class */
.button{
    margin-top: .5em;
    background-color: #ffb066;
    color: #252525;
    border: none;
    border-radius: .25em;
    padding: .5em .75em; 
}

.button:hover{
    background-color: #ffcb66;
    color: #616060;
}

/* Text Classes */
.subtitle{
    margin-top: 2em;
}

.summary{
    padding-left: 40px;
}

.summary li{
    margin-top: 1em;
}

/* Image Classes */
.rounded-image img{
    display: block;
    width: 100%;
    border-radius: 8px;
}

a .img-banner{
    display: block;
    width: 100%;
    height: 35%;
    margin-top: .5em;
    padding-left: .2em;
}

.img-banner{
    display: block;
    width: 100%;
    margin-top: .5em;
    padding-left: .2em;
}

.icon-img{
    display: block;
    width: 50%;
    margin-top: .5em;
}

/* Gallery */
.gallery-nav{
    display: flex;
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
    justify-content: center;
}

.gallery-nav .nav-item{
    margin: 0 .5rem;
}

.gallery-nav .nav-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: var(--thumbnail-size);
    width: var(--thumbnail-size);
}

.gallery-overlay{
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: opacity .2s ease;
    width: 100%;
}

.gallery-close{
    align-items: center;
    background-color: #000;
    border: 1px solid #555;
    border-radius: 100%;
    color: #fff;
    display: flex;
    font-weight: bold;
    height: 2rem;
    justify-content: center;
    position: absolute;
    right: -1rem;
    top:-1rem;
    width: 2rem;
}

.gallery-item{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gallery-image{
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.gallery-overlay:target{
    opacity: 1;
    pointer-events: all;
}

